extends layout

block content
  h1 #{title}: #{bookinstance.book.title}

  p #[strong Видавництво:] #{bookinstance.imprint}
  p #[strong Статус:] #{bookinstance.status}
  if bookinstance.due_back
    p #[strong Дата повернення:] #{bookinstance.due_back_formatted}
  p #[strong Id:] #{bookinstance._id}

  hr
  p
    a(href=bookinstance.url+'/delete') Видалити примірник
  p
    a(href=bookinstance.url+'/update') Оновити примірник