extends layout

block content
  h1 #{title}: #{genre.name}

  if genre_books.length
    h4 Книги
    dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}
  else
    p Цей жанр не має пов’язаних книг.

  hr
  p
    a(href=genre.url+'/delete') Видалити жанр
  p
    a(href=genre.url+'/update') Оновити жанр